<main style="padding: 10%;">
    <div class="mb-3">
        <div class="alert alert-primary" role="alert">
            <h1>hello boss</h1> <a href="mongo" class="btn btn-danger">
                <h2> go to items manegment </h2>
            </a>
            <br> <a href="adminusers" class="btn btn-danger">
                <h2> go to users manegment </h2>
            </a>
        </div>
    </div>
</main>