<main style="padding: 10%;">
<div class="alert alert-primary" role="alert">
   you must be have an account to buy 
</div>
<a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">join us!(not avalible yet)</a>
<a href="signin" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">adminastor</a>
</main>


